
.error {
    -fx-text-fill: #e5503e !important;
}

.list-cell:empty {
    -fx-background: #f0f1f5;
}

.tag-selector {
    -fx-border-width: 0;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.tooltip-text {
    -fx-text-fill: #1a1a2e;
}
